#app {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
}

#game-container{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.hover-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.hover-space {
    background-color: white;
    height:50px;
    width:50px;
    margin:10px;
    flex-grow: 1;
    border-radius: 50%;
}

/*
.hover-space:hover {
    background-color: gray;
}
*/

.space {
    background-color: white;
    height:50px;
    width:50px;
    margin:10px;
    flex-grow: 1;
    border-radius: 50%;
}

.row {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}