body {
    background-color: aquamarine;
}

#app {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#game-container{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    max-width: 750px;
}

.leg{
    background-color: black;
    width:25px;
    border-radius: 15px;
}

.hover-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.hover-space {
    background-color: aquamarine;
    height:50px;
    width:50px;
    margin:10px;
    border-radius: 50%;
    transition: background .25s;
}

.space {
    background-color: aquamarine;
    height:50px;
    width:50px;
    margin:10px;
    border-radius: 50%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

#banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#header {
    position:relative;
    padding: 20px;
}

#title {
    color:darkgreen;
    background-color: white;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}