#app {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    border: 1px solid green;
    border-radius: 15px;
}

#game-container{
    padding:10px;
    display: flex;
    flex-direction: column;
}

.hover-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.hover-space {
    background-color: white;
    height:50px;
    width:50px;
    margin:10px;
    flex-grow: 1;
    border-radius: 50%;
}
.space {
    background-color: white;
    height:50px;
    width:50px;
    margin:10px;
    flex-grow: 1;
    border-radius: 50%;
}

.row {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}